---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import Partners from '../components/Partners';
import Services from '../components/Services';
import Materials from '../components/Materials';
import Work from '../components/Work';
import Faq from '../components/Faq';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
---

<BaseLayout>
  <Navbar client:load />
  <Hero client:idle />
  <div id="theme-scope">
    <Partners client:visible />
    <Services client:visible />
    <Materials client:visible />
    <Work client:visible />
    <Faq client:visible />
    <Contact client:visible />
  </div>
  <Footer client:idle />
</BaseLayout>
